* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  width: 390px;
  height: 800px;
  background-color: #E3F2F1;
  border-radius: 6px;
  margin: auto;
  overflow: hidden;
  padding-top: 150px;
}

.swiper-container {
  position: relative;
}

img {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 25px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.swiper-slide {
  transition: .4s;  
  opacity: 0;
  background-color: #fff;
  padding: 20px 0;
  height: 395px;
  flex-shrink: 0;
  border-radius: 12px;
}

p {
  color: #0D7978;
  text-align: center;
  font-family: Roboto Slab;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}



.swiper-slide-prev {
  transform-origin: right bottom;
  transform: rotate(-5deg) !important;
  top: 4px;
  opacity: 1;
  cursor: pointer;
  
}

.swiper-slide-active {
  transition: .4s;
  top: 0;
  opacity: 1;
}

.swiper-slide-next {
  transform-origin: left bottom;
  transform: rotate(5deg) !important;
  top: 4px;
  opacity: 1;
  cursor: pointer; 
  
}

.swiper-button-next {
  top: 20px;
  width: 14%;
  right: 0;
  height: 100%;
  opacity: 0;
}

.swiper-button-prev {
  top: 20px;
  width: 14%;
  left: 0;
  height: 100%;
  opacity: 0;
  background-color: aqua;
}

.checked {
  transform: scale(1.2) !important;
  position: relative;

  
}

.swiper-slide::after {
  opacity: 0;
  transition: .3s;
    content: "";
    position: absolute;
    top: 6px;
    right: 80px;
    height: 90px;
    width: 90px;
    background-image: url(./Subtract.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.checked::after {
  opacity: 1;
}