* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  width: 600px;
  height: 600px;
  background-color: antiquewhite;
  border-radius: 6px;
  margin: auto;
  overflow: hidden;
  padding-top: 150px;
}

.swiper-container {
  position: relative;
}

img {
  object-fit: cover;
  height: auto;
  width: 100%;
  border-radius: 4px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.swiper-slide {
  transition: .3s;  
  opacity: 0;
}

.swiper-slide-prev {
  transform-origin: right bottom;
  transform: rotate(-5deg) !important;
  top: 4px;
  opacity: 1;
  cursor: pointer;
  
}

.swiper-slide-active {
  transition: .4s;
  top: 0;
  opacity: 1;
}

.swiper-slide-next {
  transform-origin: left bottom;
  transform: rotate(5deg) !important;
  top: 4px;
  opacity: 1;
  cursor: pointer; 
  
}

.swiper-button-next {
  top: 20px;
  width: 14%;
  right: 0;
  height: 100%;
  opacity: 0;
}

.swiper-button-prev {
  top: 20px;
  width: 14%;
  left: 0;
  height: 100%;
  opacity: 0;
  background-color: aqua;
}